.myStyle{
    border-radius: 4px;
    margin: 1% 0 1% 0;
    border: 1px solid rgb(212, 212, 212);    
}

.navbar-nav .activeLink{
    border-bottom: 2px solid orange;
}

.btn{
    border: solid 1px rgb(0, 128, 202);
    weight: 200px;
    animation-name: my-animation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

.btn:hover{
    cursor:pointer;
    border-radius:5px;

    background-color: rgb(255, 140, 140);
    transition: all 5s;

}

@keyframes my-animation{
    /* from{

    }
    to{
        margin-left: 5px;
        margin-top: 10px;
    } */
    10%{
        margin-left: 12px;
        weight: 212px;
        transform: rotateX(0deg);
        transform: rotateZ(0deg);
    }
    30%{
        transform: rotateX(90deg);
        transform: rotateZ(270deg);
        margin-left: 50px;
        weight: 250px
        
    }
    40%{
        transform: rotateZ(180deg);
        transform: rotateX(180deg);
        margin-left: 12px
        ;
        weight:600px;
    }
    80%{
        transform: rotateZ(270deg);
        transform: rotate(270deg);
        margin-left: 300px
    }
    100%{
        transform: rotateX(360deg);
        transform: rotateZ(360deg);
        margin-left: 1px;
    }
}

